xtHostOffset    = 1
xtHostAddr      = "192.168.33.11"
xtHostAppPort   = xtGuestAppPort  + xtHostOffset
xtHostName      = "second-vm"
xtHostRestPort  = xtGuestRestPort + xtHostOffset
xtHostWebPort   = xtGuestWebPort  + xtHostOffset

xtVboxMemory    = "2048"
xtVmName        = "show-this-in-virtualbox-gui"
